* { 
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box;
} 

body {
    height: 100vh;
    display: flex;
    background-color: slategray;
}

.containerFigurinhas {
    width: 840px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.cartaMemoria {
    width: calc(16.666% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform.5s;
}

.cartaMemoria:active {
    transform: scale(.94);   
    transition: transform .2s; 
}

.cartaMemoria.girar {
    transform: rotateY(180deg);    
}

.verso, .frente {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    background: #301934;
    backface-visibility: hidden;
}

.frente {
    transform: rotateY(180deg);    

}




  